.bg-sidebar {
    background-image: linear-gradient(#24d1a9, #1cc88a);
    filter: opacity(0.86);
}

.bg-video {
    background-color: rgba(133, 135, 150, .6) ;
    color: #fff;
}

.bg-audio{
    background-image: linear-gradient(#1cc88a, #24d1a9);
    color: #fff;
    filter: opacity(0.8);
}

.bg-table {
    background-color:#fff;
}

.btn-delete {
    background-color: #b9babe;
    color: #fff;
}

.bg-alert {
    background-color: rgba(217, 217, 217, .38);
    backdrop-filter: blur(38px);
}